{{ define "main" }}
  {{ with .Title }}
    <h1 class="uppercase">{{ . }}</h1>
  {{ end }}
  {{ $pages := .Paginator.Pages }}
  {{ if and (eq .Paginator.PageNumber 1) (gt (len $pages) 0) }}
    <div class="mb-6">{{ partial "card-featured.html" (index $pages 0) }}</div>
    {{ $pages = after 1 $pages }}
  {{ end }}
  {{ if gt (len $pages) 0 }}
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
      {{ range $pages }}
        <div>{{ partial "card.html" . }}</div>
      {{ end }}
    </div>
  {{ end }}
  {{ partial "pagination.html" . }}
{{ end }}
