@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
  margin: 0;
  padding: 0;
}

header,
footer {
  display: flex;
  align-items: center;
  justify-content: center;

  /* augmente le padding vertical */
  position: relative;
  height: auto;
}

.nav-link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: inherit;
  }
}

.title-section {
  text-align: center;
  padding: 3px 20px 3px 20px;

  h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }

  p {
    font-size: 18px;
    font-weight: bold;
  }
}

.btn {
  /* background: rgba(var(--vcn-primary-rgb), 0.1); */
  background: rgba(var(--vcn-primary-rgb), 0.15);
  margin: 5px;

  &:hover {
    background: rgba(var(--vcn-warning-rgb), 0.9);
    text-decoration: underline;
  }
}

/* Corps de page */

/* Titres et accents */

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}

.navbar {
  font-family: $navbar-font-family;
  text-transform: uppercase;
  background-color: white;
}

article {
  text-align: justify;

  // Styles par défaut pour tous les paragraphes
  p {
    // Styles pour les paragraphes qui contiennent une image
    // Notez que :has() est une fonctionnalité relativement nouvelle et peut ne pas être supportée dans tous les navigateurs
    &:has(img) {
      text-align: center;
    }
    img {
      width: 300px;
    }
  }
}

// Styles pour la card
.card-body {
  img {
    display: none; // Cela masquera l'image
  }
}

@media only screen and (min-width: 600px) {
  main {
    // Padding to work with the fixed navbar in header
    padding-top: 116px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar-brand img {
    height: 50px;
    width: 50px;
  }
  main {
    // Padding to work with the fixed navbar in header
    padding-top: 76px;
  }
}

.breadcrumb-item a {
  color: var(--vcn-body-color);
}

#social-network {
  background-color: rgba(var(--vcn-body-color-rgb), 0.9);
  color: var(--vcn-yellow);
  border-radius: 50%;
}
