@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
  background: $body-bg;
  margin: 0;
  padding: 0;
  color: $body-color;

  /* bleu foncé VCN */
}

header,
footer {
  display: flex;
  align-items: center;
  justify-content: center;

  /* padding: 50px; */

  /* augmente le padding vertical */
  position: relative;
  height: auto;
}

.nav-link {
  text-decoration: none;
  margin-left: 20px;
  font-size: 1.5em;
  color: $body-color;

  &:hover {
    text-decoration: underline;
    color: inherit;
  }
}

.title-section {
  text-align: center;
  padding: 3px 20px 3px 20px;
  background-color: $body-bg;

  h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }

  p {
    font-size: 18px;
    font-weight: bold;
  }
}

.btn {
  background: rgba($vcn-primary, 0.1);
  padding: 10px 20px;
  margin: 5px;
  font-weight: bold;
  color: $body-color;

  &:hover {
    background: $vcn-gold;
    text-decoration: underline;
    color: inherit;
  }
}

.video-container {
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  max-width: 90%;
  max-height: 90%;
  border: 5px solid white;

  /* Couleur du cadre */
  border-radius: 20px;

  /* Bords arrondis */
  overflow: hidden;

  /* Cache les débordements de la vidéo */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

  /* Ombre portée optionnelle */
  background: black;
  pointer-events: none;
}

video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Corps de page */

/* Titres et accents */

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}

.nav-link {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  text-transform: uppercase;
}

/* Hero (bannière d’accueil) */

.hero-background {
  background-size: cover;
  background-position: center;
  padding: 6rem 2rem;
  text-align: center;
}

article {
  text-align: justify;

  p {
    // Styles par défaut pour tous les paragraphes

    &:has(img) {
      // Styles pour les paragraphes qui contiennent une image
      // Notez que :has() est une fonctionnalité relativement nouvelle et peut ne pas être supportée dans tous les navigateurs
      text-align: center;
    }
    img {
      width: 300px;
    }
  }
}

.card-body {
  // Styles pour la card

  img {
    display: none; // Cela masquera l'image
  }
}

@media only screen and (min-width: 600px) {
  .navbar-brand img {
    height: 90px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar-brand img {
    height: 50px;
  }
}
