/* Site colors */
$vcn-primary: #0e2942;
$vcn-secondary: #053574;
$vcn-gold: #dea441;
$vcn-white: #ffffff;

/* Bootstrap variables names will start with vcn */
$prefix: 'vcn-';

/* Body modification */
$body-color: $vcn-primary;
$body-bg: $vcn-white;
$font-family-sans-serif: 'Open Sans', 'Roboto', 'Segoe UI', sans-serif;

/* Headings (h*) font modification */
$headings-font-family: 'Montserrat', 'Open Sans', 'Roboto', 'Segoe UI', sans-serif;
$headings-font-weight: 800;

/* Navbar */
$navbar-font-family: 'Anton', 'Open Sans', 'Roboto', 'Segoe UI', sans-serif;

$table-color: $vcn-primary;
$table-border-color: rgba($vcn-secondary, 0.25);
