/* Site colors */
$vcn-primary: #0e2942;
$vcn-secondary: #053574;
$vcn-gold: #dea441;
$vcn-white: #ffffff;

/* Bootstrap variables names will start with vcn */
$prefix: 'vcn-';

/* Body modification */
$body-color: $vcn-primary;
$body-bg: $vcn-white;
$font-family-sans-serif: 'Open Sans', 'Roboto', 'Segoe UI', sans-serif;

/* Headings (h*) font modification */
$headings-font-family: 'Montserrat', 'Open Sans', 'Roboto', 'Segoe UI', sans-serif;
$headings-font-weight: 800;

/* Navbar */
$navbar-font-family: 'Anton', 'Open Sans', 'Roboto', 'Segoe UI', sans-serif;
$navbar-light-brand-color : $vcn-primary;

$table-color: $vcn-primary;
$table-border-color: rgba($vcn-secondary, 0.25);

$breadcrumb-divider-color: $vcn-secondary;
$breadcrumb-divider: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><path d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='#{$breadcrumb-divider-color}'/></svg>");
