<!doctype html>
<html class="h-full" lang="{{ site.Language.Locale }}" dir="{{ or site.Language.Direction `ltr` }}">
  <head>
    {{ partial "head.html" . }}
    {{ block "head" . }}{{ end }}
    {{ block "css" . }}{{ end }}
  </head>
  <body class="flex h-full min-h-screen flex-col bg-cream text-vcn-blue">
    <a
      href="#main-content"
      class="sr-only rounded bg-vcn-blue px-4 py-2 text-white focus:not-sr-only focus:fixed focus:top-2 focus:left-2 focus:z-[100]"
      >Aller au contenu</a
    >
    {{ partial "header.html" . }}
    <main id="main-content" class="mx-auto w-full max-w-screen-xl shrink-0 px-4 pt-[4rem] pb-12 content:pt-[5.5rem]">
      {{ partial "alert.html" . }}
      {{ if .Site.Params.hasBreadcrumb }}
        {{ partial "breadcrumbs.html" . }}
      {{ end }}
      {{ block "main" . }}
        This will be replaced with content from the corresponding "define" action found in the template to which this
        base template is applied.
      {{ end }}
    </main>
    {{ partial "footer.html" . }}
    {{ partial "social-fab.html" . }}
    {{ block "foot" . }}
    {{ end }}
  </body>
</html>
