<!doctype html>
<html class="h-full" lang="{{ site.Language.Locale }}" dir="{{ or site.Language.Direction `ltr` }}">
  <head>
    {{ partial "head.html" . }}
    {{ block "head" . }}{{ end }}
    {{ block "css" . }}{{ end }}
  </head>
  <body class="flex h-full min-h-screen flex-col bg-white text-vcn-blue">
    {{ partial "header.html" . }}
    <main class="mx-auto w-full max-w-screen-xl shrink-0 px-4 pt-[76px] content:pt-[116px]">
      {{ partial "alert.html" . }}
      {{ if .Site.Params.hasBreadcrumb }}
        {{ partial "breadcrumbs.html" . }}
      {{ end }}
      {{ block "main" . }}
        This will be replaced with content from the corresponding "define" action found in the template to which this
        base template is applied.
      {{ end }}
    </main>
    {{ partial "footer.html" . }}
    {{ block "foot" . }}
    {{ end }}
  </body>
</html>
