<!doctype html>
<html class="h-100" lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
  <head>
    {{ partial "head.html" . }}
    {{ block "head" . }}
    {{ end }}
  </head>
  <body class="d-flex flex-column h-100">
    {{ partial "header.html" . }}
    <main class="flex-shrink-0 container">
      {{ partial "alert.html" . }}
      {{ if .Site.Params.hasBreadcrumb }}
        {{ partial "breadcrumbs.html" . }}
      {{ end }}
      {{ block "main" . }}
        This will be replaced with content from the corresponding "define" action found in the template to which this
        base template is applied.
      {{ end }}
    </main>
    {{ partial "footer.html" . }}
    {{ block "foot" . }}
    {{ end }}
  </body>
</html>
