{{ define "main" }}
  <article class="single">
    {{ if .Draft }}
      <span class="badge bg-warning float-end">Brouillon</span>
    {{ end }}
    <h1>{{ .Title }}</h1>
    {{ if or .Date .Params.author }}
      <p class="blog-post-meta text-italic">
        <em>
          {{ T "created" | title }}
          {{ with .Date }}{{ T "created-on" }} {{ . | time.Format ":date_medium" }}{{ end }}
          {{ with .Params.author }}{{ T "by" }} {{ . }}{{ end }}
        </em>
      </p>
    {{ end }}
    {{ .Content }}
  </article>
{{ end }}
