---
local_backend: true

backend:
  name: gitea
  repo: hbuyse/vcn-website-hugo
  branch: main
  api_root: https://git.hbuyse.ovh/api/v1
  base_url: https://git.hbuyse.ovh
  auth_endpoint: login/oauth/authorize
  app_id: 53612cab-ff09-4894-a971-1ad5c5571ad2
  commit_messages:
    create: "feat({{collection}}): create '{{slug}}' by {{author-login}}"
    update: "feat({{collection}}): update '{{slug}}' by {{author-login}}"
    delete: "feat({{collection}}): delete '{{slug}}' by {{author-login}}"
    uploadMedia: "feat(media): upload '{{path}}' by {{author-login}}"
    deleteMedia: "feat(media): delete '{{path}}' by {{author-login}}"
    openAuthoring: '{{message}}'

media_folder: 'static/uploads'
public_folder: '/uploads'

slug:
  encoding: 'ascii'
  clean_accents: true
  sanitize_replacement: '_'

i18n:
  # Required and can be one of multiple_folders, multiple_files or single_file
  # multiple_folders - persists files in `<folder>/<locale>/<slug>.<extension>`
  # multiple_files - persists files in `<folder>/<slug>.<locale>.<extension>`
  # single_file - persists a single file in `<folder>/<slug>.<extension>`
  structure: multiple_files
  # Required - a list of locales to show in the editor UI
  locales:
    - fr
    - en
  # Optional, defaults to the first item in locales.
  # The locale to be used for fields validation and as a baseline for the entry.
  default_locale: fr

collections:
  - name: 'actualites'
    label: 'Actualités'
    folder: 'content/actualites'
    create: true
    path: "{{year}}/{{month}}/{{slug}}"
    preview_path: "actualites/{{slug}}"
    fields:
      - label: 'Titre'
        name: 'title'
        widget: 'string'
        required: true
      - label: 'Auteur'
        name: 'author'
        widget: 'string'
        required: true
      - label: 'Description'
        name: 'description'
        widget: 'string'
        required: false
      - label: 'Date'
        name: 'date'
        widget: 'datetime'
        required: true
        default: '{{now}}'
        date_format: true
        time_format: false
      - label: 'Brouillon'
        name: 'draft'
        widget: 'boolean'
        default: true
        required: true
      - label: 'Tags'
        name: 'tags'
        widget: 'list'
        default:
          - 'informations'
          - 'tournoi'
          - 'warning'
        required: true
      - label: 'Image principale'
        name: 'image'
        widget: 'image'
        required: false
        media_library:
          config:
            max_file_size: 2048000
      - label: 'Contenu'
        name: 'body'
        widget: 'markdown'
        required: true
  - name: 'equipes'
    label: 'Équipes'
    folder: 'content/equipes'
    create: true
    slug: '{{slug}}'
    preview_path: "actualites/{{slug}}"
    fields:
      - label: 'Titre'
        name: 'title'
        widget: 'string'
        required: true
      - label: 'Description'
        name: 'description'
        widget: 'string'
        required: false
      - label: 'Date'
        name: 'date'
        widget: 'datetime'
        required: true
      - label: 'Brouillon'
        name: 'draft'
        widget: 'boolean'
        default: true
        required: true
      - label: 'Tags'
        name: 'tags'
        widget: 'list'
        default:
          - 'ffvb'
          - 'fsgt'
          - 'loisirs'
          - 'jeunes'
          - 'adultes'
          - 'ecole'
        required: true
      - label: 'Image principale'
        name: 'image'
        widget: 'image'
        required: false
        media_library:
          config:
            max_file_size: 2048000
      - label: 'Contenu'
        name: 'body'
        widget: 'markdown'
        required: true
