{{ define "main" }}
  <article class="single">
    {{ if .Draft }}
      <span class="float-right rounded bg-vcn-yellow px-2 py-1 text-xs font-bold text-vcn-blue">Brouillon</span>
    {{ end }}
    <h1 class="uppercase">{{ .Title }}</h1>
    {{ with .Resources.Get "cover.jpg" }}
      {{ partial "image.html" (dict
        "resource" .
        "alt" (printf "Photo de l'équipe %s" $.Title)
        "class" "mb-4 h-auto w-full rounded sm:float-right sm:mb-4 sm:ml-6 sm:w-64"
        "fill" "500x500 center webp q80"
        "zoomable" true
        )
      }}
    {{ else with .Resources.Get "cover.svg" }}
      {{ partial "image.html" (dict
        "resource" .
        "alt" (printf "Illustration de l'équipe %s" $.Title)
        "class" "mb-4 h-auto w-full rounded object-contain sm:float-right sm:mb-4 sm:ml-6 sm:w-64"
        "width" 400
        "height" 400
        "zoomable" true
        )
      }}
    {{ end }}
    {{ .Content }}

    {{ with .Params.gallery }}
      <h2>Galerie</h2>
      {{ partial "gallery.html" (dict
        "page" $
        "paths" .
        )
      }}
    {{ end }}
  </article>
{{ end }}

{{ define "foot" }}
  {{ if .Params.gallery }}
    {{ with resources.Get "js/gallery-zoom-blur.js" }}
      <script type="text/javascript" src="{{ .RelPermalink }}"></script>
    {{ end }}
  {{ end }}
{{ end }}
