{{ define "main" }}
  <article class="single">
    {{ if .Draft }}
      <span class="float-right rounded bg-vcn-yellow px-2 py-1 text-xs font-bold text-vcn-blue">Brouillon</span>
    {{ end }}
    {{ with .Resources.Get "cover.jpg" }}
      {{ with .Fill "1200x500 webp q80" }}
        <img
          src="{{ .RelPermalink }}"
          width="{{ .Width }}"
          height="{{ .Height }}"
          alt=""
          class="mb-4 h-auto w-full rounded object-cover"
        />
      {{ end }}
    {{ end }}
    <h1 class="uppercase">{{ .Title }}</h1>
    {{ if or .Date .Params.author }}
      <p class="italic">
        <em>
          Créé
          {{ with .Date }}le {{ . | time.Format ":date_medium" }}{{ end }}
          {{ with .Params.author }}par {{ . }}{{ end }}
        </em>
      </p>
    {{ end }}
    {{ .Content }}

    {{ $elements := .Resources.Match "images/*.{jpg,jpeg,png,webp}" }}
    {{ with $elements }}
      <h2>Galerie</h2>
      {{ partial "gallery.html" (dict
        "page" $
        "path" "images/"
        )
      }}
    {{ end }}
  </article>
{{ end }}

{{ define "foot" }}
  {{ if .Resources.Match "images/*.{jpg,jpeg,png,webp}" }}
    {{ with resources.Get "js/gallery-zoom-blur.js" }}
      <script type="text/javascript" src="{{ .RelPermalink }}"></script>
    {{ end }}
  {{ end }}
{{ end }}
