{{ if not .IsHome }}
  <nav aria-label="breadcrumb" class="py-2 text-sm">
    <ol class="flex flex-wrap items-center gap-2 text-vcn-blue">
      {{- range .Ancestors.Reverse }}
        <li class="flex items-center gap-2">
          <a class="hover:underline" href="{{ .RelPermalink }}">
            {{ if .IsHome }}
              <i class="fa-solid fa-house"></i>
            {{ else }}
              {{ .Title }}
            {{- end }}
          </a>
          <span aria-hidden="true" class="text-vcn-secondary/50">/</span>
        </li>
      {{- end }}
      <li class="font-bold" aria-current="page">{{ .Title }}</li>
    </ol>
  </nav>
{{- end }}
