{{- $path := .path | default "images" -}}
{{- $page := .page -}}
{{- $resources := $page.Resources.Match (printf "%s/*.{jpg,jpeg,png,webp}" (path.Dir $path)) -}}

{{- if not $resources }}
  {{- warnf "No images found for path: %s/%s" $page.Path $path -}}
{{- end }}

{{- $id := printf "carousel-%d" now.UnixNano -}}


<div id="{{ $id }}" class="swiper gallery-swiper">
  <div class="swiper-wrapper">
    {{ range $index, $img := $resources }}
      {{/* Responsive images */}}
      {{ $small := $img.Resize "400x webp q70" }}
      {{ $medium := $img.Resize "800x webp q75" }}
      {{ $large := $img.Resize "1200x webp q80" }}

      {{/* Mobile square */}}
      {{ $mobile := $img.Fit "600x600 webp q75" }}

      {{/* Blur tiny */}}
      {{ $blur := $img.Resize "20x webp q20" }}


      <div class="swiper-slide">
        <div class="carousel-img-wrapper">
          <picture>
            <source media="(max-width: 576px)" srcset="{{ $mobile.RelPermalink }}" />

            <img
              src="{{ $medium.RelPermalink }}"
              srcset="{{ $small.RelPermalink }} 400w, {{ $medium.RelPermalink }} 800w, {{ $large.RelPermalink }} 1200w"
              sizes="(max-width: 768px) 100vw, 1200px"
              class="blur-up block w-full"
              style="background-image: url('{{ $blur.RelPermalink }}')"
              alt="Photo {{ add $index 1 }} de la galerie {{ $page.Title }}"
              loading="lazy"
              data-full="{{ $img.RelPermalink }}"
            />
          </picture>
        </div>
      </div>
    {{ end }}
  </div>

  {{ if gt (len $resources) 1 }}
    <div class="swiper-pagination"></div>
    <button type="button" class="swiper-button-prev" aria-label="Photo précédente"></button>
    <button type="button" class="swiper-button-next" aria-label="Photo suivante"></button>
  {{ end }}
</div>
