{{- $page := .page -}}
{{- $paths := .paths | default slice -}}

{{- $resources := slice -}}
{{- range $paths }}
  {{- with $page.Resources.Get . }}
    {{- $resources = $resources | append . }}
  {{- else }}
    {{- warnf "Gallery image not found: %s/%s" $page.Path . -}}
  {{- end }}
{{- end }}

{{- if not $resources }}
  {{- warnf "No gallery images found for: %s" $page.Path -}}
{{- end }}


<div class="gallery-justified">
  {{ range $index, $img := $resources }}
    {{/* Responsive images */}}
    {{ $small := $img.Resize "400x webp q70" }}
    {{ $medium := $img.Resize "800x webp q75" }}

    {{/* Dominant color, shown as an instant placeholder while the photo loads */}}
    {{ $dominant := "var(--color-vcn-blue)" }}
    {{ with $img.Colors }}
      {{ $dominant = index . 0 }}
    {{ end }}


    <img
      src="{{ $medium.RelPermalink }}"
      srcset="{{ $small.RelPermalink }} 400w, {{ $medium.RelPermalink }} 800w"
      sizes="(max-width: 576px) 50vw, 300px"
      class="gallery-justified-img blur-up"
      style="background-color: {{ $dominant }}"
      alt="Photo {{ add $index 1 }} de la galerie {{ $page.Title }}"
      loading="lazy"
      data-full="{{ $img.RelPermalink }}"
    />
  {{ end }}
</div>
