<section class="next-games">
  <h2>Prochains matchs</h2>
  {{ with .Site.Data.calendars.next_games }}
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Ligue</th>
          <th>Équipes</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        {{ range . }}
          <tr>
            <td>{{ .ligue | upper }}</td>
            <td>{{ .local | lower | title }} VS {{ .visitor | lower | title }}</td>
            <td>{{ index .date 0 | time.Format ":date_medium" }}</td>
          </tr>
        {{ end }}
      </tbody>
    </table>
  {{ else }}
    <p>Pas de matchs programmés dans les deux prochaines semaines 😞</p>
  {{ end }}
</section>
