<div class="position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
  <div class="dropdown">
    <button class="btn btn-secondary" id="social-network" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="bi bi-share-fill"></i>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a class="dropdown-item" href="#"><i class="bi bi-facebook"></i>Facebook</a>
      </li>
      <li>
        <a class="dropdown-item" href="#"><i class="bi bi-instagram"></i>Instagram</a>
      </li>
    </ul>
  </div>
</div>
