{{ define "main" }}
  {{ with .Params.image }}
    <div class="text-center">
      <img
        src="{{ .path }}"
        {{ with .height }}style="height: {{ . }}px; overflow: hidden;"{{ end }}
        class="img-fluid"
        alt="Banner"
      />
    </div>
  {{ end }}
  <section class="title-section homepage">
    <h1 class="text-uppercase">{{ .Title }}</h1>
    {{ .Content }}
  </section>
  <section class="actus">
    <h2>Dernières actualités</h2>
    <div class="grid-section">{{ partial "latest-posts.html" . }}</div>
  </section>
  {{ partial "next-games.html" . }}
{{ end }}
