{{ define "main" }}
<section class="title-section">
  <h1>VOLLEY CLUB NOGENTAIS</h1>
  <p>Rejoignez notre passion du volley-ball</p>
  <h1>EN CONSTRUCTION</h1>
  <p>Fier d'évoluer</p>
</section>
<section class="actus">
  <h2>Dernières actualités</h2>
  <div class="grid-section">
    {{ range first 3 (where .Site.RegularPages "Section" "actualites") }}
    <article class="grid-item">
      <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
      <p>{{ .Summary }}</p>
    </article>
    {{ end }}
  </div>
</section>
{{ end }}
