{{ define "main" }}
  {{ with .Title }}
    <h1>{{ . }}</h1>
  {{ end }}
  <div class="row row-cols-1 row-cols-md-2 g-4">
    {{ range .Pages }}
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <a class="stretched-link text-primary text-decoration-none" href="{{ .RelPermalink }}"> {{ .Title }}</a>
            </h5>
            <p class="card-text">{{ .Content | strings.Truncate 100 }}</p>
            <!-- <a href="{{ .RelPermalink }}" class="btn btn-primary">En savoir plus</a> -->
          </div>
        </div>
      </div>
    {{ end }}
  </div>
{{ end }}
