<div class="overflow-x-auto">
  <table
    {{- range $k, $v := .Attributes }}
      {{- if $v }}
        {{- printf " %s=%q" $k $v | safeHTMLAttr }}
      {{- end }}
    {{- end }}
    class="responsive-table w-full border-collapse"
  >
    <thead>
      {{- range .THead }}
        <tr class="border-b border-black/10 text-left">
          {{- range . }}
            <th
              class="px-3 py-2"
              {{- with .Alignment }}
                {{- printf " style=%q" (printf "text-align: %s" .) | safeHTMLAttr }}
              {{- end -}}
            >
              {{- .Text -}}
            </th>
          {{- end }}
        </tr>
      {{- end }}
    </thead>
    <tbody>
      {{- $headers := index .THead 0 }}
      {{- range .TBody }}
        <tr class="border-b border-black/10 hover:bg-vcn-blue/5">
          {{- range $i, $cell := . }}
            <td
              class="px-3 py-2"
              {{- with index $headers $i }}
                {{- printf " data-label=%q" .Text | safeHTMLAttr }}
              {{- end }}
              {{- with $cell.Alignment }}
                {{- printf " style=%q" (printf "text-align: %s" .) | safeHTMLAttr }}
              {{- end -}}
            >
              {{- $cell.Text -}}
            </td>
          {{- end }}
        </tr>
      {{- end }}
    </tbody>
  </table>
</div>
