---
name: 'Generate and deploy'

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    # Run every day at 7:15 AM
    - cron: '15 7 * * *'

jobs:
  deploy-website:
    runs-on: ubuntu-latest
    steps:
      - name: Do a git checkout including submodules
        uses: actions/checkout@master
        with:
          submodules: true

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: 'latest'
          extended: true

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'

      - name: Install npm dependencies
        run: npm install

      - name: Build
        run: hugo build --minify --buildDrafts --buildFuture

      - name: rsync deployments
        uses: burnett01/rsync-deployments@7.0.2
        with:
          switches: --archive --verbose --compress --recursive --delete
          path: public/
          remote_path: ${{ vars.VPS_DEPLOY_PATH }}
          remote_host: ${{ vars.VPS_DEPLOY_HOST }}
          remote_user: ${{ vars.VPS_DEPLOY_USER }}
          remote_key: ${{ secrets.VPS_DEPLOY_KEY }}
