<div class="card">
  {{ with .Resources.Get "main.jpg" }}
    {{ with .Fill "300x300" }}
      <img
        src="{{ .RelPermalink }}"
        width="{{ .Width }}"
        height="{{ .Height }}"
        alt="{{ page.Title }} image"
        class="card-img-top"
      />
    {{ end }}
  {{ else }}
    {{ with resources.Get "media/logo.svg" }}
      <img src="/images/logo.svg" width="300" height="300" alt="Logo VCN" class="card-img-top" />
    {{ end }}
  {{ end }}
  <div class="card-body">
    <h5 class="card-title">{{ .Title }}</h5>
    {{ with .Description }}
      <p class="card-text">{{ . }}</p>
    {{ end }}
    <a href="{{ .RelPermalink }}" class="btn stretched-link">En savoir plus</a>
  </div>
</div>
