{{ $width := 300 }}
{{ $height := 300 }}
{{ $default_img := "media/logo.svg" }}
{{ if in .Params.categories "beach" }}
  {{ $default_img = "media/beach_logo_color.svg" }}
{{ end }}
<div class="swiper-slide">
  <div class="card freeflow-card shadow-sm">
    {{ with .Resources.Get "main.jpg" }}
      {{ with .Fill (printf "%dx%d center webp" $height $width) }}
        <img
          class="card-img-top"
          alt="{{ $.Title }} image"
          src="{{ .RelPermalink }}"
          width="{{ .Width }}"
          height="{{ .Height }}"
        />
      {{ end }}
    {{ else with .Resources.Get "main.svg" }}
      <img
        class="card-img-top"
        alt="{{ $.Title }} image"
        src="{{ .RelPermalink }}"
        width="{{ $width }}"
        height="{{ $height }}"
      />
    {{ else with resources.Get $default_img }}
      <img class="card-img-top" src="{{ .RelPermalink }}" width="{{ $width }}" height="{{ $height }}" alt="Logo VCN" />
    {{ end }}
    <div class="card-body">
      <h5 class="card-title">{{ .Title }}</h5>
      {{ with .Summary }}
        <p class="card-text">{{ . }}</p>
      {{ end }}
      <a href="{{ .RelPermalink }}" class="btn stretched-link">En savoir plus</a>
    </div>
  </div>
</div>
