{{ define "main" }}
  {{/* Get the calendar information if possible */}}
  {{ $data := dict }}
  {{ if .Params.calendarName }}
    {{ $data = index .Site.Data.calendars .Params.calendarName }}
  {{ end }}


  <article class="team">
    {{ with .Params.image }}
      <div class="text-center">
        <img src="{{ . }}" class="rounded img-fluid" alt="{{ page.Title }} image" />
      </div>
    {{ end }}
    {{ if .Draft }}
      <span class="badge bg-warning float-end">Brouillon</span>
    {{ end }}
    <h1>{{ .Title }}</h1>
    {{ .Content }}


    <div class="calendar">
      {{ with $data }}
        <h2>Calendrier des matchs</h2>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Équipes</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            {{ range . }}
              <tr>
                <td>{{ .local | lower | title }} VS {{ .visitor | lower | title }}</td>
                <td>{{ index .date 0 | time.Format ":date_medium" }}</td>
              </tr>
            {{ end }}
          </tbody>
        </table>
      {{ else }}
        {{ if in .Params.categories "FSGT" }}
          <h2>Calendrier des matchs</h2>
          <p>Pas de match programmé pour le moment... 😞</p>
        {{ end }}
      {{ end }}
    </div>

    {{ $elements := .Resources.Match "images/*.jpg" }}
    {{ with $elements }}
      <h2>Galerie</h2>
      {{ partial "carousel.html" (dict
        "page" $
        "path" "images/"
        )
      }}
    {{ end }}

  </article>
{{ end }}

{{ define "foot" }}
  {{ with resources.Get "js/carousel-zoom-blur.js" }}
    <script type="text/javascript" src="{{ .RelPermalink }}"></script>
  {{ end }}
{{ end }}
