{{ define "main" }}
  {{/* Get the calendar information if possible */}}
  {{ $data := dict }}
  {{ if .Params.calendarName }}
    {{ $data = index .Site.Data.calendars .Params.calendarName }}
  {{ end }}


  <article class="team">
    {{ with .Params.image }}
      <div class="text-center">
        <img src="{{ . }}" class="rounded img-fluid" alt="{{ page.Title }} image" />
      </div>
    {{ end }}
    {{ if .Draft }}
      <span class="badge bg-warning float-end">Brouillon</span>
    {{ end }}
    <h1>{{ .Title }}</h1>
    {{ .Content }}


    <div class="calendar">
      {{ with $data }}
        <h2>Calendrier des matchs</h2>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Équipes</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            {{ range . }}
              <tr>
                <td>{{ .local | lower | title }} VS {{ .visitor | lower | title }}</td>
                <td>{{ index .date 0 | time.Format ":date_medium" }}</td>
              </tr>
            {{ end }}
          </tbody>
        </table>
      {{ else }}
        {{ if in .Params.categories "FSGT" }}
          <h2>Calendrier des matchs</h2>
          <p>Pas de match programmé pour le moment... 😞</p>
        {{ end }}
      {{ end }}
    </div>

    {{ $elements := .Resources.Match "images/*.jpg" }}
    {{ with $elements }}
      <h2>Galerie</h2>
      <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          {{ range $index, $img := $elements }}
            <div class="carousel-item {{ if eq $index 0 }}active{{ end }}">
              <div class="carousel-img-wrapper">
                <img src="{{ $img }}" class="d-block w-100" alt="photo {{ $index }}" />
              </div>
            </div>
          {{ end }}

        </div>

        {{ if ne ($elements | len) 1 }}
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </button>

          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
          </button>

          <div class="carousel-indicators">
            {{ range $index, $_ := $elements }}
              <button
                type="button"
                data-bs-target="#photoCarousel"
                data-bs-slide-to="{{ $index }}"
                class="{{ if eq $index 0 }}active{{ end }}"
              ></button>
            {{ end }}
          </div>
        {{ end }}
      </div>
    {{ end }}

  </article>
{{ end }}
